:root {
  --e2x-light-blue: #d8f3ff;
  --e2x-blue: #3ac4ff;
  --e2x-dark-blue: #005d92;
  --e2x-gray: #eee;
}

.jp-Cell-header {
  height: auto;
}

.e2x-authoring-celltoolbar {
  border: 0.5px solid var(--e2x-blue);
  border-radius: 5px;
}

.e2x-authoring-toolbar-standard-cell {
  background: var(--e2x-gray);
  color: black;
}

.e2x-authoring-toolbar-grading-cell {
  background: var(--e2x-dark-blue);
  color: white;
}

.e2x-authoring-toolbar {
  margin-left: calc(
    var(--jp-cell-prompt-width) + var(--jp-code-padding) + 3 *
      var(--jp-border-width)
  );
  min-height: 30px;
  width: calc(
    100% -
      calc(
        var(--jp-cell-prompt-width) + var(--jp-code-padding) + 3 *
          var(--jp-border-width)
      )
  );
  border-radius: 10px 10px 0 0;
  border-bottom: none;
  padding: 2px 10px 2px 10px;
}

.e2x-authoring-toolbar .jp-InputGroup {
  background: white;
}

.e2x-points-input {
  width: 8em;
}

.e2x-authoring-toolbar-element {
  margin-right: 10px;
}

.e2x-authoring-toolbar-element label {
  margin-right: 5px;
}

#grading-cell-type {
  background: white;
}
