.hbrs_radio {
    padding-top: 2em;
    padding-left: 0.5em;
}

.hbrs_checkbox {
    padding-top: 2em;
    padding-left: 0.5em;
}

.hbrs_points {
  width: 5em;
  margin-left: 1em;
  margin-right: 0.5em;
}

.hbrs_unrender {
  margin-top: 1em;
  margin-left: 0.5em;
}
