.celltoolbar {
  /* safari fix, we cannot use -webkit-flex on hbox
    and vbox either or all css get borked
    cf https://github.com/jupyter/nbgrader/issues/394.
    manual workaround while #370 is not released. */
  display: -webkit-flex;
}

.highlight {
  background-color: #009ee0;
  height: 2.5em;
  display: inline-block;
}

.minimized {
  height: 0.5em;
}

.exam_btn {
  display: inline-block;
  height: 95%;
  margin-top: -1px;
  /*vertical-align: middle;*/
  text-align: center;
  border: none;
  margin-left: 2px;
}

.exam_btn:hover {
  background-color: #fff;
}

#run.exam_btn {
  border: none;
}

#preview.exam_btn {
  border: none;
}

.cell_id {
  padding-left: 1em;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}

.cell_control {
  float: right;
}

#submitting {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(1, 1, 1, 0.1);
  width: 100%;
  height: 100%;
}

#submit_spinner {
  margin-left: 48%;
  font-size: 3em;
  margin-top: 15%;
}
