#e2xheader {
  font-size: 1.5em;
  padding-left: .5em;
  color: dodgerblue;
}

#nbgrader-total-points-group {
  display: inline-block;
  padding: 0 1em 0 1em;
  float: right;
  border-left: 1px solid #dae4e7;
}

#questionbar {
    display: block;

    background-color: #eaf4f7;
    line-height: 3em;

    border: 1px solid #dae4e7;
}

#questionbar a {
    text-decoration: none;
    color: black;
}

.questionbutton {
    display: inline-block;
    padding: 0 1em 0 1em;
    border-right: 1px solid #dae4e7;
}

.question_item {
  line-height: 2em;
}

#questionbar button {
    display: inline-block;
    padding: 0 1em 0 1em;
    height: 3em;
    border: none;
    background-color: #eaf4f7;
    cursor: pointer;
}

#questionbar button:hover {
    color: black;
    background-color: #c4dde6;
}

#tags {
  width: 100%;
  height: 10em;
  resize: none;
}

#run_int {
  float: right;
  border-left: 1px solid #dae4e7;  
}

#move_up_down {
  float: right;
  border-left: 1px solid #dae4e7;  
}

#save-notbook {
  border-right: 1px solid #dae4e7;
}

.e2xbutton {
    display: inline-block;
    padding: 0 1em 0 1em;
    border-right: 1px solid #dae4e7;
    cursor: pointer;
}

.e2xbutton:hover {
    color: black;
    background-color: #c4dde6;
}

.question_menu {
    position: absolute;
    display: none;
    list-style-type: none;
    background-color: #f8fbfc;
    text-decoration: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    padding: 0.5em 0 0.5em 0;
    margin-left: -1em;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.question_menu > li > a {
    text-decoration: none;
    padding: 0 1em 0 1em;
    color: black;
}

.question_menu > li:hover {
    background-color: #eaf4f7;
}

#insert-question:hover .question_menu {
    display: block;
}

#insert-template-cell:hover .question_menu {
    display: block;
}

.files_menu {
    position: absolute;
    display: none;
    list-style-type: none;
    background-color: #f8fbfc;
    text-decoration: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    padding: 0.5em 0 0.5em 0;
    margin-left: -1em;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.files_menu > li > a {
    text-decoration: none;
    padding: 0 1em 0 1em;
    color: black;
}

.files_menu > li:hover {
    background-color: #eaf4f7;
}

#add-files:hover .files_menu {
    display: block;
}

.e2xtable {
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
  width: 80%;
  border: 1px solid #ddd;
}

.e2xtable td {
  text-align: left;
  padding: .5em;
}

.e2xtable tr:nth-child(odd) {
  background-color: #f8fbfc;
}

.e2xtable tr:nth-child(even) {
  background-color: #eaf4f7;
}

.e2xtable .column2 {
  float: right;
}

.e2xtable select {
  height: 2.5em;
  width: 15em;
  border: 1px solid #bbb;
}

.e2xtable input {
  height: 2.5em;
  width: 15em;
}