:root {
  --blue: #eaf4f7;
  --blue-border: #dae4e7;
  --blue-hover: #c4dde6;
  --light-blue: #f8fbfc;
  --orange: #f37726;
  --orange-border: #f3631d;
}

#e2xtoolbar {
  display: block;
  
  background-color: var(--blue);
  line-height: 3em;
  
  border: 1px solid var(--blue-border);
}

#e2xtoolbar a {
    text-decoration: none;
    color: black;
}

.toolbarbutton {
    display: inline-block;
    padding: 0 1em 0 1em;
    border-right: 1px solid var(--blue-border);
}

#e2xtoolbar button, .e2xbutton {
    display: inline-block;
    padding: 0 1em 0 1em;
    height: 3em;
    border: none;
    background-color: var(--blue);
    cursor: pointer;
}

#e2xtoolbar button:hover, .e2xbutton:hover {
    color: black;
    background-color: var(--blue-hover);
}

#run_int {
  border-left: 1px solid var(--blue-border);
  border-right: 1px solid var(--blue-border);
}

#save-notbook i {
  scale: 1.5;
}

#menubar-container {
  margin-top: -1em;
}

#e2xtoolbar #submit {
  float: right;
  background-color: var(--orange);
  border: 2px solid var(--orange-border);
}

#e2xtoolbar #submit i {
  padding-left: .5em;
}

#e2xtoolbar #e2xhelp {
  float: right;
  border-left: 1px solid var(--blue-border);
}

#e2xhelp i {
  padding-left: .5em;
}

#nb_name {
  padding-left: 1em;
  font-size: 1.5em;
}

#e2x_kernel_indicator {
  padding: 1em;
  border-right: 1px solid var(--blue-border);
}

#e2x_kernel_indicator #kernel_indicator_icon {
  padding-left: .5em;
}

.dropdown {
  position: absolute;
  display: none;
  list-style-type: none;
  background-color: var(--light-blue);
  text-decoration: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  padding: .5em 0 .5em 0;
  margin-left: -1em;
  min-width: 9em;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.dropdown > li:hover {
  background-color: var(--blue);
}

.dropdown_item {
  line-height: 2em;
  padding: 0 .5em 0 .5em;
}

#advanced {
  float: right;
  border-left: 1px solid var(--blue-border);
}

#advanced:hover .dropdown {
  display: block;
}

