#e2xtoolbar {
  display: block;
  
  background-color: #eaf4f7;
  line-height: 3em;
  
  border: 1px solid #dae4e7;
}

#e2xtoolbar a {
    text-decoration: none;
    color: black;
}

.toolbarbutton {
    display: inline-block;
    padding: 0 1em 0 1em;
    border-right: 1px solid #dae4e7;
}

#e2xtoolbar button {
    display: inline-block;
    padding: 0 1em 0 1em;
    height: 3em;
    border: none;
    background-color: #eaf4f7;
    cursor: pointer;
}

#e2xtoolbar button:hover {
    color: black;
    background-color: #c4dde6;
}

#run_int {
  border-left: 1px solid #dae4e7;
  border-right: 1px solid #dae4e7;
}

#save-notbook i {
  scale: 1.5;
}

#menubar-container {
  margin-top: -1em;
}

#e2xtoolbar #submit {
  float: right;
  background-color: #f37726;
  border: 2px solid #f3631d;
  /*box-shadow: inset 2px 2px 0px 0px #eee;*/
}

#e2xtoolbar #submit i {
  padding-left: .5em;
}

#e2xtoolbar #e2xhelp {
  float: right;
  border-left: 1px solid #dae4e7;
}

#e2xhelp i {
  padding-left: .5em;
}

#nb_name {
  padding-left: 1em;
  font-size: 1.5em;
}

#e2x_kernel_indicator {
  padding: 1em;
  border-right: 1px solid #dae4e7;
}

#e2x_kernel_indicator #kernel_indicator_icon {
  padding-left: .5em;
}