/* Hide Help Menu, Edit Menu and Insert Menu */

li:has(> #help_menu) {
    display: none;
}

li:has(> #edit_menu) {
    display: none;
}

li:has(> #insert_menu) {
  display: none;
}


li:has(> #widget-submenu) {
    display: none;
}

/* View Menu */

#toggle_toolbar {
  display: none;
}

/* File Menu */

li:has(> #download_menu) {
    display: none;
}

#open_notebook, #new_notebook, #copy_notebook {
  display: none;
}

#print_preview {
  display: none;
}

#file_menu > .divider {
  display: none;
}

/* Cell Menu */

#cell_menu > .divider {
  display: none;
}

#change_cell_type {
  display: none;
}


