#template_type {
    padding-right: 1em;
    padding-left: 1em;
}

.template_highlight .ctb_show div {
  background-color: #2980b9;
  color: white;
}

.template_highlight .celltoolbar > div {
  width: 100%;
}