#tasks td {
  text-align: center;
}

.mid-col {
  width: 20%;
}

.mid-col button {
  display: block;
  width: 6em;
  margin: auto;
  margin-top: .5em;  
}

.side-col {
  width: 40%;
}

#selected-tasks {
  min-width: 100%;
  min-height: 15em;
}

#available-tasks {
  min-width: 100%;
  min-height: 15em;
}

#template-options {
    margin-top: 1em;
}

select[name=pool] {
  margin-left: 1em;
}

.e2xtable {
  min-width: 40%;
}

.e2xtable th {
  text-align: center;
}

.btn-controls {
  display: block;
  width: 6em;
  margin: .1em;
}

.btn-primary a {
  text-decoration: none;
}